body{
    background-color: rgb(63, 175, 255);
    background-image: url('code-sign.jpg');
    background-repeat:space;
    background-position: 50%, 5%;
}


.heading{
    background-color: rgb(63, 175, 255);
    height: 5.4rem;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.heading-text{
    padding: 2%;
}

.foot{
	padding: 3.5% 5%;
	text-align: center;
	background-color: rgb(63, 175, 255);
	height: 3rem;

}